.modal-body-fracture {
    background-image: url("/images/fracture.jpg");
    background-position: top;
    padding: 40px 90px;
    min-height: 300px;
    font-size: 16px;
}

.modal-body-content {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}