.share-btn {
    height: 35px;
    width: 150px;
    border-radius: 5px;
}

.share-btn-fb {
    background-color: #3b579d;
    background-image: url('/images/sites/f-white-29x29.png');
}

.share-btn-twitter {
    background-color: #5ea9dd;
    background-image: url('/images/sites/t-white-29x36.png');
}