.future-list li {
    position: relative;
    float: left;
    margin: 15px;
    width: 200px;
}

.future-list li p {
    color: white;
    font-size: 16px;
}

.selected-future-list {
    margin: 20px 0px;
    padding-bottom: 30px;
}


#loadup-futures .inactive .future-display {
    cursor: auto;
}

#loadup-futures .future-display {
    cursor: pointer;
}