.game-starters li {
    margin: 0 10px 10px 0;
    float: left;
}

.matchup h3 {
    margin: 10px 0;
}

.matchup h1 {
    margin: 10px 0;
}

.matchup-members {
    margin: 10px 0;
}

select.lobby-select {
    font-family: "aw-conqueror-carved";
    color: $light-blend;
    margin: 0px 0px 10px 0px;
    font-size: 32px;
    width: 100%;
}

select.lobby-select option {
    //font-family: sans-serif;
    //font-size: 16px;
    color: #4e4e4e;
}