@import "base";
@import "animations/attack";
@import "animations/battlecry";
@import "animations/card-flasher";
@import "animations/card-notif";
@import "animations/grabber";
@import "animations/heal";
@import "animations/life";
@import "animations/recharge";
@import "animations/summon";
@import "animations/transformer";
@import "animations/turn-animation";
@import "card";
@import "card-builder";
@import "card-selector";
@import "chat";
@import "credits";
@import "deck";
@import "deck-selector";
@import "future-display";
@import "futures";
@import "game";
@import "guild-banner";
@import "loadup-futures";
@import "lobby";
@import "messages";
@import "navbar";
@import "title";
@import "username";
@import "you-panel";

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url("/images/futurism-bg-960x540.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    background-attachment: fixed;
    color: $dark-blend;
}

@media all and (min-width: 960px), (min-height: 540px) {
    body {
        background-image: url("/images/futurism-bg-1920x1080.jpg");
    }
}

#main-container {
    padding: 70px 20px 20px 20px;
}

h1 {
    font-family: "aw-conqueror-carved";
    color: $light-blend;
    margin: 15px 0px 10px -5px;
}

.form-control-big {
    font-family: "aw-conqueror-carved";
    font-size: 32px;
    height: 58px;
    color: $light-blend;
    margin-left: 0;
}

h1.inverse, .inverse h1 {
    color: $light-contrast;
}

h3 {
    font-family: "aw-conqueror-carved";
    color: $dark-blend;
}

h3.inverse, .inverse h3 {
    color: white;
}

a {
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}

.side-panel {
    padding: 0px;
    background-color: white;
}

.side-panel h1 {
    margin-top: 0px;
}

.panel-segment {
    padding: 15px;
    padding-left: 20px;
}

.panel-segment:nth-child(even) {
    background-color: #eaebff;
}

.inverse {
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

.username {
    cursor: pointer;
}

.nav, .pagination, .carousel a {
    cursor: pointer;
}

.logging-in {
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    color: darkgray;
    margin: 20px;
    padding: 20px;
    font-size: 24px;
    z-index: 9999;
}

.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.panel-default {
    background-color: rgba(255, 255, 255, 0.9);
    @include box-shadow(2px, 2px, 7px, rgba(0, 0, 0, 0.7));
}

.subtle {
    font-size: 10px;
    color: grey;
}

/*.modal {
    display: block;
    height: 0;
    overflow: visible;
    outline: none;
}*/