.slide-down-animation {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px 5px 20px;
    max-height: 30px;
}

.slide-down-animation.ng-hide {
    padding: 0px 5px 0px 20px;
    max-height: 1px;
 }

// This makes the animation visible during the animations
// Normally display would be none
.slide-down-animation.ng-hide-add,
.slide-down-animation.ng-hide-remove {
    display: block !important;
}


.mute-button {
    float: right;
    color: lightgray;
    font-size: 24px;
    padding: 12px 15px;
    border-left: 1px solid black;
    background-color: #111111;
    height: 49px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -20px;
}