.slide-down-animation {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 5px 5px 5px 20px;
    max-height: 30px;
}

.slide-down-animation.ng-hide {
    padding: 0px 5px 0px 20px;
    max-height: 1px;
 }

// This makes the animation visible during the animations
// Normally display would be none
.slide-down-animation.ng-hide-add,
.slide-down-animation.ng-hide-remove {
    display: block !important;
}