.t-machine img {
    float: left;
}

.t-machine {
    font-size: 16px;
}

.t-machine ul {
    margin: 20px;
    float: left;
}

.t-machine li {
    margin: 5px 0;
}

.t-machine b {
    color: $light-contrast;
}

#store .inactive .future-display {
    cursor: pointer;
}