<div class="card card-{{size}} card-{{card.faction}}">

	<div class="card-image-holder">
		<img ng-if="card.hasImage" class="card-image absolute-center" ng-src="{{staticContentUrl}}/images/cards/{{size}}_{{card._id}}.jpg?{{card.version}}"/>
		<img ng-if="card.commander" class="card-image absolute-center" ng-src="http://avatars.jiggmin.com/avatars/{{card.userId}}-130x90.gif"/>
	</div>

	<h1>{{card.name}}</h1>

	<ul class="abilities">
		<li ng-repeat="abilityId in card.abilities | limitTo:3">
			<a ng-click="actionFn({abilityId: abilityId, cid: card.cid})">{{lang.abilities[abilityId].name}}</a>
		</li>
	</ul>

	<div class="card-story">{{card.story}}</div>
	<div class="card-stats">{{card.attack}}/{{card.health}}</div>
	<div class="card-pride">{{card.pride}}</div>

</div>