<div id="deck-builder" class="row">

	<div id="deck-settings" class="col-sm-5 side-panel">
		<form role="form">

			<div class="form-group">
				<h1>{{lang.deckBuilder.saveAndLoad}}</h1>
				<busy-button on-click="saveDeck()" label="{{lang.deckBuilder.save}}"></busy-button>
				<a ng-href="/deck-selector"><button class='btn btn-default'>{{lang.deckBuilder.load}}</button></a>
				<button class='btn btn-default' type="submit" ng-click="deck.applyDefaults()">{{lang.deckBuilder.new}}</button>
				<button ng-show="card.id" class='btn btn-default' type="submit" ng-click="delete()">{{lang.deckBuilder.delete}}</button>
			</div>

			<div class="form-group">
				<h1>{{lang.deckBuilder.nameIt}}</h1>
				<input class="form-control" type="text" ng-model="deck.name" placeholder="Name">
			</div>

			<div class="form-group">
				<h1>{{lang.deckBuilder.cards}}</h1>
				<span>{{lang.deckBuilder.deckPride}}: {{deckFns.calcPride(deck)}}</span><br>
				<ul class="card-list">
					<li class="card-holder" ng-repeat="card in deck.cards">
						<div ng-click="removeCard(card)" card-display size="small"></div>
					</li>
				</ul>
			</div>

		</form>
	</div>


	<div id="cards" class="col-sm-7">
		<ul class="card-list">
			<li class="card-holder" ng-repeat="card in cards">
				<div ng-click="addCard(card)" card-display size="medium"></div>
			</li>
		</ul>
	</div>

</div>