<div id="futures" class="row">

	<div class="col-sm-5 panel panel-default">
		<div class="panel-segment">
			<h1>Stable Futures</h1>
			<span>These futures can be used any number of times.</span>
			<ul>
				<li ng-repeat="futureId in futures.stable">
					<h3>{{lang.futures[futureId].name}}</h3>
					<span>{{lang.futures[futureId].desc}}</span>
				</li>
			</ul>
		</div>

		<div class="panel-segment">
			<h1>Unstable Futures</h1>
			<span>These futures can be used once.</span>
			<ul>
				<li ng-repeat="futureId in futures.unstable">
					<h3>{{lang.futures[futureId].name}}</h3>
					<span>{{lang.futures[futureId].desc}}</span>
				</li>
			</ul>
		</div>

	</div>


	<div class="col-sm-7 inverse">
		<h1>Paradoxes</h1>
		<span>An entire guild is needed to unlock one. Each member of the guild can use it once.</span>
		<ul>
			<li ng-repeat="futureId in futures.paradox">
				<h3>{{lang.futures[futureId].name}}</h3>
				<span>{{lang.futures[futureId].desc}}</span>
			</li>
		</ul>
	</div>


</div>