<div class="col-sm-4 panel panel-default" match-screen-height ng-transclude subtract="100" resize-element=".auto-size">
	<div class="panel-body">
		<chat-display room="chat-{{gameId}}"></chat-display>
	</div>
</div>

<ul class="board col-sm-8">
	<li class="row" ng-repeat="area in board.areas">
		<div class="board-area clearfix">
			<ul ng-repeat="column in area.targets" class="player-field-column">
				<li ng-repeat="target in column" class="target">
					<div ng-show="isValidTarget(target)" ng-click="selectTarget(target)" class="target-selector"></div>
					<div ng-if="target.card" class="target-card">
						<card-display size="small"></card-display>
					</div>
				</li>
			</ul>
			<button class='btn btn-default' ng-click="endTurn()">{{lang.game.endTurn}}</button>
			<!--  ng-if="area==me._id" ng-view="state.name=='thinking'" -->
		</div>
	</li>
</ul>

<div ng-show="state.name=='lookingAtHand'" id="hand">
	<div id="hand-content">
		<h1>Pride: {{me.pride}}</h1>
		<ul class="hand-cards row">
			<li ng-repeat="card in me.hand">
				<card-display size="medium" ng-click="pickCardFromHand(card)"></card-display>
			</li>
		</ul>
	</div>
</div>
