<div id="game" class="row" auto-scroll watch="state" find="scroll-here" target="board-area">

	<turn-anim></turn-anim>

	<ul id="board" class="board col-sm-7 inverse" summon-anim attack-anim rally-anim abomination-anim heal-anim move-anim teleporter-anim poison-anim peace-pipe-anim seduction-anim delegate-anim shield-anim recharge-anim networking-anim transformer-anim serum-anim battle-cry-anim sacrifice-anim>
		<li class="row" ng-repeat="area in board.areas | teamSort:players.me.team">
			<div class="board-area clearfix">

				<div class="area-header">
					<h1 ng-show="turn.isTheirTurn(area.playerId)" class="active-indicator">*</h1>
					<h1 class="area-title">{{players.idToPlayer(area.playerId).name}}</h1>
					<span id="area-desc-{{area.playerId}}" class="area-desc">{{lang.game.pride}}: {{players.idToPlayer(area.playerId).pride}}, {{lang.game.futures}}: {{players.idToPlayer(area.playerId).futures.length}}</span>
				</div>

				<ul ng-repeat="column in area.targets" class="player-field-column">
					<li ng-repeat="target in column | inverseFoes:players.me.team" ng-click="targeter.selectTarget(target)" class="target {{target.player._id}}-{{target.column}}-{{target.row}}" ng-class="{'target-valid': targeter.isValidTarget(target), 'scroll-here': targeter.isValidTarget(target)}">
						<card-magnify
								ng-if="target.card"
								card="target.card"
								action-fn="targeter.selectAction(abilityId, target)"
								size="small" magnify="large"
								use-buttons="{{target.player == players.me}}"
								ng-class="{'card-disabled': target.card.moves <= 0 || !turn.isMyTurn() && players.me._id == target.player._id}"
								active="{{!targeter.isValidTarget(target)}}">
						</card-magnify>
					</li>
				</ul>

			</div>
		</li>
	</ul>

	<div class="col-sm-5">
		<div id="game-panel" class="panel panel-default" match-screen-height resize-element=".auto-size" offset-bottom="100">
			<div class="future-desc panel-segment">
				<h1>Normal</h1>
				Nothing is especially fancy about this future.
			</div>
			<ul class="game-buttons panel-segment clearfix">
				<li>
					<button class='btn btn-default' ng-click="endTurn(); hand.close();" ng-disabled="!turn.isMyTurn()">{{lang.game.endTurn}}</button>
				</li>
				<li>
					<button class='btn btn-default' ng-click="forfeit()">{{lang.game.forfeit}}</button>
				</li>
			</ul>
			<chat-display class="panel-segment" room="{{chatId}}"></chat-display>
		</div>
	</div>


	<div ng-show="hand.show && hand.cards.length > 0" id="hand">
		<div id="hand-content">
			<h1>{{lang.game.pride}}: {{players.me.pride}}</h1>
			<a ng-if="!hand.force" class="close-x" ng-click="hand.close()">{{lang.game.close}} [x]</a>
			<ul class="card-list row">
				<li ng-repeat="card in hand.cards">
					<card-display card="card" size="medium" ng-click="pickCardFromHand(card)" ng-class="{'card-disabled': card.pride > players.me.pride}"></card-display>
				</li>
			</ul>
		</div>
	</div>

</div>