<ul class="board col-sm-7 inverse">
	<li class="row" ng-repeat="(userId, area) in board.areas">
		<div class="board-area clearfix">

			<div class="area-header">
				<h1 class="area-title">{{idToPlayer(userId).name}}</h1>
				<span class="area-desc">{{lang.game.pride}}: {{idToPlayer(userId).pride}}, {{lang.game.futures}}: {{idToPlayer(userId).futures.length}}</span>
			</div>

			<ul ng-repeat="column in area.targets" class="player-field-column">
				<li ng-repeat="target in column" class="target">
					<div ng-show="isValidTarget(target)" ng-click="selectTarget(target)" class="target-selector"></div>
					<div ng-if="target.card" class="target-card">
						<card-display size="small" magnify="medium"></card-display>
					</div>
				</li>
			</ul>

		</div>
	</li>
</ul>

<div class="col-sm-5 panel panel-default" match-screen-height ng-transclude subtract="100" resize-element=".auto-size">
	<div class="future-desc panel-segment">
		<h1>Normal</h1>
		Nothing is especially fancy about this future.
	</div>
	<ul class="game-buttons panel-segment clearfix">
		<li>
			<button ng-class="{btn-default: state.name == 'thinking'}" class='btn btn-default' ng-click="showHand()">{{lang.game.showHand}}</button>
		</li>
		<li>
			<button ng-class="state.name == 'waiting'" class='btn btn-default' ng-click="showFutures()">{{lang.game.showFutures}}</button>
		</li>
		<li>
			<button ng-class="state.name == 'thinking'" class='btn btn-default' ng-click="endTurn()">{{lang.game.endTurn}}</button>
		</li>
		<li>
			<button class='btn btn-default' ng-click="forfeit()">{{lang.game.forfeit}}</button>
		</li>
	</ul>
	<chat-display class="panel-segment" room="chat-{{gameId}}"></chat-display>
</div>

<div ng-show="state.name=='lookingAtHand'" id="hand">
	<div id="hand-content">
		<h1>{{lang.game.pride}}: {{me.pride}}</h1>
		<a class="close-x" ng-click="closeHand()">{{lang.game.close}} [x]</a>
		<ul class="hand-cards row">
			<li ng-repeat="card in me.hand">
				<card-display size="medium" ng-click="pickCardFromHand(card)"></card-display>
			</li>
		</ul>
	</div>
</div>
