<div id="lobby-matchups" class="col-sm-7">

	<div class="col-sm-12">
		<div class="row">

			<h1 class="inverse">{{lang.guildJoin.joinGuild}}</h1>

			<ul class="list-group">
				<li class="list-group-item" ng-repeat="guild in guilds" ng-click="joinGuild(guild._id)">
					<h3>{{guild._id}}</h3>
					<p>
						Owners:
						<span ng-repeat="owner in guild.owners">
							<username id="{{owner._id}}" name="{{owner.name}}" site="{{owner.site}}" group="{{owner.group}}"></username>
						</span>
					</p>
				</li>
			</ul>

		</div>
	</div>

</div>



<div class="col-sm-5 panel panel-default">

	<div class="panel-segment">
		<h1>{{lang.guildJoin.createGuild}}</h1>
		<div class="form-group">
			<input class="form-control" type="text" ng-model="newGuild._id" placeholder="Guild Name">
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="2" ng-model="newGuild.desc" placeholder="Description"></textarea>
		</div>
		<div class="form-group">
			{{lang.guildJoin.joinPolicy}}: <select ng-model="newGuild.join" ng-options="lang.guildJoinPolicy[value].name for value in joinOptions"></select><br>
			<span class="subtle">{{lang.guildJoinPolicy[newGuild.join].desc}}</span>
		</div>
		<div class="form-group">
			{{lang.guildJoin.banner}}: <span class="subtle">(200x50)</span> <input type="file" accept="image/*" image="uppedBanner" resize-max-width="200" resize-max-height="50" resize-quality="0.9" resize-type="image/jpg"/>
			<img src="{{uppedBanner.resized.dataURL}}" width="200" height="50"/>
		</div>
		<div class="form-group">
			<busy-button on-click="createGuild(newGuild)" label="{{lang.guildJoin.createGuild}}"></busy-button>
		</div>
	</div>

</div>