<div id="lobby-matchups" class="col-sm-7">

	<div class="col-sm-12">
		<div class="row">

			<h1 class="inverse">{{lang.guildJoiner.joinGuild}}</h1>

			<ul class="list-group">
				<li class="list-group-item" ng-repeat="guild in guilds"">

					<div class="guild-banner">
						<h3>{{guild._id}}</h3>
						<img ng-if="guild.banner.file" ng-src="{{static.globe}}/banners/large_{{guild.banner.file}}?{{guild.banner.updated}}">
					</div>
					<ul>
						<li>
							{{lang.guildJoiner.leaders}}:
							<span ng-repeat="owner in guild.owners">
								<username id="{{owner._id}}" name="{{owner.name}}" site="{{owner.site}}" group="{{owner.group}}"></username>
							</span>
						</li>
						<li>
							{{lang.guildJoiner.members}}: <b>{{guild.members.length}}</b>
						</li>
						<li>
							{{lang.guildJoiner.gpToday}}: <b>{{guild.gpDay}}</b>
						</li>
						<li>
							{{lang.guildJoiner.founded}}: <b>{{guild.createdDate | date}}</b>
						</li>
						<li ng-if="guild.desc">
							<p>
								-- <br>
								{{guild.desc}}
							</p>
						</li>
						<li>
							<p>
								<busy-button on-click="joinGuild(guild)" label="{{lang.guildJoiner.join}}"></busy-button>
							</p>
						</li>
					</ul>

				</li>
			</ul>

		</div>
	</div>

</div>



<div class="col-sm-5 panel panel-default">

	<div class="panel-segment">
		<h1>{{lang.guildJoiner.createGuild}}</h1>
		<div class="form-group">
			<input class="form-control" type="text" ng-model="newGuild._id" placeholder="Guild Name">
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="2" ng-model="newGuild.desc" placeholder="Description"></textarea>
		</div>
		<div class="form-group">
			{{lang.guildJoiner.joinPolicy}}: <select ng-model="newGuild.join" ng-options="lang.guildJoinPolicy[value].name for value in joinOptions"></select><br>
			<span class="subtle">{{lang.guildJoinPolicy[newGuild.join].desc}}</span>
		</div>
		<div class="form-group">
			{{lang.guildJoiner.banner}}: <span class="subtle">(300x50)</span> <input type="file" accept="image/*" image="uppedBanner" resize-max-width="300" resize-max-height="50" resize-quality="0.9" resize-type="image/jpg"/>
			<img ng-if="uppedBanner" ng-src="{{uppedBanner.resized.dataURL}}" width="300" height="50"/>
		</div>
		<div class="form-group">
			<busy-button on-click="createGuild(newGuild)" label="{{lang.guildJoiner.createGuild}}"></busy-button>
		</div>
	</div>

</div>