<!-- navbar -->
<nav ng-controller="navBarCtrl" ng-hide="path=='/title'" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">{{lang.nav.toggle}}</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">{{lang.nav.futurism}}</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li ng-class="{active: path=='/deck-builder'}"><a ng-href="/deck-builder">{{lang.nav.deckBuilder}}</a></li>
			<li ng-class="{active: path=='/card-builder'}"><a ng-href="/card-builder">{{lang.nav.cardBuilder}}</a></li>
			<li ng-class="{active: path=='/lobby'}"><a ng-href="/lobby">{{lang.nav.lobby}}</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<div username name="{{account.userName}}" id="{{account.userId}}" site="{{account.site}}" group="{{account.group}}"></div>
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">{{lang.nav.stats}}</a></li>
					<li><a href="#">{{lang.nav.messages}}</a></li>
					<li><a ng-href="/language">{{lang.nav.language}}</a></li>
					<li><a ng-href="/">{{lang.nav.logout}}</a></li>
				</ul>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>