<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<username id="{{user._id}}" name="{{user.name}}" site="{{user.site}}" group="{{user.group}}" size="large" link="false"></username>
		</div>
		<div class="modal-body">
			<ul>
				<li>Fame: {{stats.fame}}</li>
				<li>Elo: {{stats.elo}}</li>
				<li>Group: {{user.group}}</li>
				<li>Player Since: {{user.registerDate | date:'medium'}}</li>
				<li>Last Login: {{user.loginDate | date:'medium'}}</li>
			</ul>
			{{user.userId}}
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="$dismiss('close')">close</button>
		</div>
	</div>
</div>

