<div class="modal-header">
	<username id="{{user._id}}" name="{{user.name}}" site="{{user.site}}" group="{{user.group}}" size="large" link="false"></username>
</div>
<div class="modal-body">
	<ul>
		<li>Fame: {{stats.fame}}</li>
		<li>Elo: {{stats.elo}}</li>
		<li>Group: {{user.group}}</li>
		<li>Player Since: {{user.registerDate | date:'medium'}}</li>
		<li>Last Login: {{user.loginDate | date:'medium'}}</li>
	</ul>
	{{user.userId}}
</div>
<div class="modal-footer">
	<button ng-if="user.actions.report" class="btn" ng-click="report()">report</button>
	<button ng-if="user.actions.mod" class="btn" ng-click="mod()">mod</button>
	<button ng-if="user.actions.deMod" class="btn" ng-click="deMod()">de-mod</button>
	<button ng-if="user.actions.apprentice" class="btn" ng-click="apprentice()">apprentice</button>
	<button ng-if="user.actions.deApprentice" class="btn" ng-click="deApprentice()">de-apprentice</button>
	<button ng-if="user.actions.ban" class="btn" ng-click="ban()">ban</button>
	<button ng-if="user.actions.deBan" class="btn" ng-click="deBan()">de-ban</button>
	<button ng-if="user.actions.message" class="btn" ng-click="message()">message</button>
	<button ng-if="user.actions.guildMod" class="btn" ng-click="guildMod()">guild mod</button>
	<button ng-if="user.actions.deGuildMod" class="btn" ng-click="deGuildMod()">de-guild mod</button>
	<button ng-if="user.actions.kick" class="btn" ng-click="kick()">kick</button>
	<button ng-if="user.actions.deKick" class="btn" ng-click="deKick()">de-kick</button>
	<button class="btn btn-primary" ng-click="$dismiss('close')">close</button>
</div>