.attack-effect {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    pointer-events: none;
    transition: transform 0.25s linear;
}

.attack-effect-inner {
    animation: attack-spinner 1s;
}

.attack-effect-inner.sword {
    width: 27px;
    height: 150px;
    background-image: url("/images/sword.png");
}

.attack-effect-inner.poison-sword {
    width: 24px;
    height: 100px;
    background-image: url("/images/poison-sword.png");
}

.attack-effect-inner.bees {
    position: absolute;
    left: -75px;
    top: 0px;
    width: 150px;
    height: 130px;
    background-image: url("/images/bees.png");
}

@keyframes attack-spinner {
    0% {
        transform: rotate3d(0, 1, 1, -180deg); 
    }
    100% {
        transform: rotate3d(0, 1, 1, 360deg);
    }
}