.card-flasher {
	position: absolute;
	z-index: 49;
	pointer-events: none;
}

.card-flasher-inner {
	opacity: 0;
	position: absolute;
	animation-name: fade-in-out;
	animation-duration: 1.5s;
}

.card-flasher.poison .card-flasher-inner {
	left: -100px;
	top: -100px;
	width: 200px;
	height: 200px;
	background-image: url('/images/poison-200x200.png');
}

.card-flasher.peace-pipe .card-flasher-inner {
	left: -50px;
	top: -50px;
	width: 100px;
	height: 100px;
	background-image: url('/images/peace-pipe.png');
}

@keyframes fade-in-out {
	0% {
		transform: scale(0.25, 0.25);
		opacity: 0.25;
	}
	25% {
		transform: scale(1, 1);
		opacity: 1;
	}
	75% {
		transform: scale(1, 1);
		opacity: 1;
	}
	100% {
		transform: scale(0.25, 0.25);
		opacity: 0;
	}
}