.appear {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100px;
	height: 100px;
	background-color: red;
}


.summon {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	width: 100px;
	height: 100px;
	background-color: blue;
}