#turn-anim {
	position: fixed;
	margin: auto;
	text-align: center;
	z-index: 1010;
	width: 100%;
	left: 0px;
	top: 50px;
	background-color: darken($dark-grey, 5);
	border-top: 1px solid $grey;
	border-bottom: 1px solid $grey;
	pointer-events: none;

	-webkit-transition: 0.66s;
	transition: 0.66s;
}

#turn-anim h1 {
	padding: 10px;
	margin: 0px;
	color: $dark-contrast;
}

#turn-anim.ng-enter {
	top: 600px;
	opacity: 0;
}

#turn-anim.ng-enter.ng-enter-active {
	top: 50px;
	opacity: 1;
}

#turn-anim.ng-leave {
	top: 50px;
	opacity: 1;
}

#turn-anim.ng-leave.ng-leave-active {
	top: -50px;
	opacity: 0;
}