<div id="card-edit" class="row">

    <div id="card-settings" class="col-sm-5 side-panel">
        
        
        <form class="form-horizontal">
            <legend>
                <h1>{{lang.cardBuilder.title}}</h1>
            </legend>
            <fieldset>

                <div class="form-group">
                    <label for="inputName" class="col-md-2 control-label">{{lang.cardBuilder.name}}</label>
                    <div class="col-md-10">
                        <input id="inputName" class="form-control" type="text" ng-model="card.name" placeholder="" maxlength="20">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputStory" class="col-md-2 control-label">{{lang.cardBuilder.story}}</label>
                    <div class="col-md-10">
                        <textarea id="inputStory" class="form-control" rows="2" ng-model="card.story" placeholder="" maxlength="99"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAttack" class="col-md-2 control-label">{{lang.cardBuilder.attack}}</label>
                    <div class="col-md-4">
                        <input id="inputAttack" class="form-control" type="text" maxlength="1" size="3" ng-model="card.attack" />
                    </div>
                    <label for="inputHealth" class="col-md-2 control-label">{{lang.cardBuilder.health}}</label>
                    <div class="col-md-4">
                        <input id="inputHealth" class="form-control" type="text" maxlength="1" size="3" ng-model="card.health" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputImage" class="col-md-2 control-label">{{lang.cardBuilder.imageUpload}}</label>
                    <div class="col-md-10">
                        <input id="inputImage"  class="form-control" type="file" accept="image/*" image="uppedImage" resize-max-width="260" resize-max-height="180" resize-quality="0.9" resize-type="image/jpg"/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputFaction" class="col-md-2 control-label">{{lang.cardBuilder.faction}}</label>
                    <div class="col-md-10">
                        <select class="form-control" ng-model="card.faction" ng-options="value.id as lang.factions[key].name for (key, value) in factions.factionLookup"></select>
                        <p class="faction-desc">{{lang.factions[card.faction].desc}}</p>
                    </div>    
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label">{{lang.cardBuilder.factionAbilities}}</label>
                    <div class="col-md-10">
                        <ul class="checkbox" id="faction-checkboxes">
                            <li ng-repeat="ability in factions.factionLookup[card.faction].abilities">
                                <label><input type="checkbox" ng-model="abilityObj[ability.id]"> {{lang.abilities[ability.id].name}}</label>
                                <p>{{lang.abilities[ability.id].desc}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="share-box" class="col-md-2 control-label">{{lang.cardBuilder.share}}</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label><input id="share-box" type="checkbox" ng-model="card.share"> {{lang.cardBuilder.shareDesc}}</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <busy-button class="btn btn-primary" on-click="saveCard()" label="{{lang.cardBuilder.save}}"></busy-button>
                        <a ng-href="/card-selector/{{me.user._id}}"><button class='btn btn-default'>{{lang.cardBuilder.load}}</button></a>
                        <button class='btn btn-default' type="submit" ng-click="applyDefaults()">{{lang.cardBuilder.new}}</button>
                    </div>
                </div>
        
            </fieldset>
        </form>
    </div>



    <div class="col-sm-7">
        <div id="card-preview-holder" match-screen-height>
            <card-display class="stretch" card="card" size="large"></card-display>
        </div>
    </div>

</div>