<div class="row toppy inverse">
    <username size="large" user="user"></username>
    <button ng-if="user._id == me.user._id" class="new-deck-btn btn btn-primary" ng-click="newCard()">{{lang.cardSelector.newCard}}</button>
</div>

<paginated resource="CardResource" results="cards" query="query">
    <ul class="card-list clearfix">
        <li class="card-holder" ng-repeat="card in cards">
            <card-display ng-if="canEdit(card)" card="card" ng-click="selectCard(card)" size="medium"></card-display>
            <card-magnify ng-if="!canEdit(card)" card="card" size="medium" magnify="large"></card-magnify>
            <ul class="card-options">
                <li ng-if="canEdit(card)"><button class="btn btn-primary" ng-click="selectCard(card)">{{lang.cardSelector.edit}}</button></li>
                <li ng-if="canAddFavorite(card)"><button class="btn btn-primary" ng-click="addFavorite(card)">{{lang.deckSelector.addFavorite}}</button></li>
                <li ng-if="canRemoveFavorite(card)"><button class="btn btn-default" ng-click="removeFavorite(card)">{{lang.deckSelector.removeFavorite}}</button></li>
                <li ng-if="canDelete(card)"><busy-button class="btn btn-danger" on-click="deleteCard(card)" label="{{lang.cardSelector.delete}}"></busy-button></li>
                <li ng-if="canReport(card)"><busy-button class="btn btn-warning" on-click="reportCard(card)" label="{{lang.cardSelector.report}}"></busy-button></li>
            </ul>
        </li>
    </ul>
</paginated>
