<div class="row toppy inverse">
    <username size="large" user="me.user"></username>
    <button class="new-deck-btn btn btn-primary" ng-click="newDeck()">{{lang.deckSelector.newDeck}}</button>
</div>

<paginated resource="DeckResource" results="decks" query="query">
    <div class="row">
        <ul class="deck-list">
            <li class="deck-holder" ng-repeat="deck in decks">
                <deck-display size="medium" ng-click="select(deck)"></deck-display>
                <button ng-if="canEdit(deck)" class="btn btn-default" ng-click="select(deck)">{{lang.deckSelector.edit}}</button>
                <button ng-if="canAddFavorite(deck)" class="btn btn-default" ng-click="addFavorite(deck)">{{lang.deckSelector.addFavorite}}</button>
                <button ng-if="canRemoveFavorite(deck)" class="btn btn-default" ng-click="removeFavorite(deck)">{{lang.deckSelector.removeFavorite}}</button>
                <busy-button ng-if="canDelete(deck)" on-click="deleteDeck(deck)" label="{{lang.messages.delete}}"></busy-button>
            </li>
        </ul>
    </div>
</paginated>