<div id="deck-builder" class="row">

    <div id="deck-settings" class="col-sm-5 side-panel">
        
        <form class="form-horizontal">
            <legend>
                <h1>{{lang.deckBuilder.title}}</h1>
            </legend>
            <fieldset>

                <div class="form-group">
                    <label for="inputName" class="col-md-2 control-label">{{lang.deckBuilder.name}}</label>
                    <div class="col-md-10">
                        <input id="inputName" class="form-control" type="text" ng-model="deck.name">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label">{{lang.deckBuilder.cards}}</label>
                    <div class="col-md-10">
                        <ul class="card-list clearfix" ng-if="deck.cards.length > 0">
                            <li class="card-holder" ng-repeat="card in deck.cards">
                                <card-magnify card="card" size="small" magnify="large"></card-magnify>
                                <ul class="card-options">
                                    <li>
                                        <button class="btn btn-default" ng-click="removeCard(card)">{{lang.deckBuilder.remove}}</button>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="subtle" ng-if="deck.cards.length === 0">
                            {{lang.deckBuilder.none}}
                        </span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-md-2 control-label">{{lang.deckBuilder.stats}}</label>
                    <div class="col-md-10">
                        <deck-analyzer deck="deck"></deck-analyzer>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="share-box" class="col-md-2 control-label">{{lang.deckBuilder.share}}</label>
                    <div class="col-md-10">
                        <div class="checkbox">
                            <label><input id="share-box" type="checkbox" ng-model="deck.share"> {{lang.deckBuilder.shareDesc}}</label>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <busy-button class="btn btn-primary" on-click="saveDeck()" label="{{lang.deckBuilder.save}}"></busy-button>
                        <a ng-href="/deck-selector/{{me.user._id}}"><button class='btn btn-default'>{{lang.deckBuilder.load}}</button></a>
                        <button class='btn btn-default' type="submit" ng-click="applyDefaults()">{{lang.deckBuilder.new}}</button>
                    </div>
                </div>
        
            </fieldset>
        </form>
    </div>

    <tabset id="cards" class="col-sm-7">
        <tab ng-repeat="tab in tabs" heading="{{lang.deckBuilder[tab.heading]}}">

            <paginated resource="tab.resource" results="tab.results" query="tab.query" refresh-on="event:sessionChanged">
                <ul class="card-list clearfix">
                    <li class="card-holder" ng-repeat="card in tab.results">
                        <card-magnify card="card" size="medium" magnify="large"></card-magnify>
                        <ul class="card-options">
                            <li>
                                <button class="btn btn-primary" ng-click="addCard(card)">{{lang.deckBuilder.add}}</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </paginated>

        </tab>
    </tabset>

</div>