<div class="row toppy inverse">
    <username size="large" user="me.user"></username>
    <button class="new-deck-btn btn btn-primary" ng-click="newDeck()">{{lang.deckSelector.newDeck}}</button>
</div>

<paginated resource="DeckResource" results="decks" query="query">
    <div class="row">
        <ul class="deck-list">
            <li class="deck-holder" ng-repeat="deck in decks">
                <deck-display size="medium" ng-click="select(deck)"></deck-display>
                <ul class="card-options">
                    <li ng-if="canEdit(deck)"><button class="btn btn-primary" ng-click="select(deck)">{{lang.deckSelector.edit}}</button></li>
                    <li ng-if="canAddFavorite(deck)"><button class="btn btn-primary" ng-click="addFavorite(deck)">{{lang.deckSelector.addFavorite}}</button></li>
                    <li ng-if="canRemoveFavorite(deck)"><button class="btn btn-default" ng-click="removeFavorite(deck)">{{lang.deckSelector.removeFavorite}}</button></li>
                    <li ng-if="canDelete(deck)"><busy-button class="btn btn-danger" on-click="deleteDeck(deck)" label="{{lang.messages.delete}}"></busy-button></li>
                </ul>
            </li>
        </ul>
    </div>
</paginated>