<div class="future-display future-display-{{future}}">
    <div ng-if="future">
        <div class="fader"></div>
        <div class="future-display-img" style="background-image: url('/images/futures/{{future}}.jpg')"></div>
        <img class="future-arrow" src="/images/futures/future-arrow.png"/>
        <h3>{{lang.futures[future].name}}</h3>
        <p class="description">{{lang.futures[future].desc}}</p>
    </div>
    <div ng-if="!future">
        <div class="future-outline"></div>
    </div>
</div>