<div id="game" class="row" auto-scroll watch="state" find="target-valid" target="board-area">

    <turn-anim></turn-anim>


    <ul id="board" class="board col-sm-7" summon-anim attack-anim rally-anim abomination-anim heal-anim move-anim teleporter-anim poison-anim peace-pipe-anim seduction-anim delegate-anim shield-anim recharge-anim networking-anim transformer-anim serum-anim battle-cry-anim sacrifice-anim future-anim death-anim>
        <li class="row" ng-repeat="area in board.areas | teamSort:players.findMe().team">
            <div class="board-area clearfix">

                <div class="area-header inverse">
                    <progress-display ng-show="turn.isTheirTurn(area.playerId)" class="active-indicator" perc="1 - timer.timeLeft / 60"></progress-display>
                    <h1 class="area-title"><username size="large" user="players.idToPlayer(area.playerId)"></username></h1>
                </div>

                <ul ng-repeat="column in area.targets" class="player-field-column">
                    <li ng-repeat="target in column | inverseFoes:players.findMe().team"
                        ng-click="targeter.selectTarget(target)"
                        class="target {{target.player._id}}-{{target.column}}-{{target.row}}"
                        ng-class="{'target-valid': targeter.isValidTarget(target)}">
                        <card-magnify
                                ng-if="target.card"
                                card="target.card"
                                action-fn="targeter.selectAction(abilityId, target)"
                                size="small" 
                                magnify="large"
                                use-buttons="{{target.player._id === me.userId}}"
                                class="{{target.card.moves <= 0 || (!turn.isMyTurn() && me.userId === target.player._id) ? 'card-disabled' : ''}}"
                                active="{{state.name != 'targeting'}}">
                        </card-magnify>
                        <div class="backing"></div>
                    </li>
                </ul>

            </div>
        </li>
    </ul>


    <div class="col-sm-5">
        <div id="game-panel" class="side-panel" match-screen-height resize-element=".auto-size" offset-bottom="70" default-height="600">
            
            <div class="future-desc panel-segment">
                <future-display future="{{board.future}}"></future-display>
            </div>
            
            <div class="panel-segment">
                <music-player-2/>
            </div>
            
            <ul class="panel-segment options">
                <li>
                    <a ng-click="forfeit()">{{lang.game.forfeit}}</a>
                </li>
                <li>
                    <a ng-click="endTurn()" ng-disabled="!game.isMyTurn()">{{lang.game.endTurn}}</a>
                </li>
            </ul>
            
            <chat-display room="{{chatId}}"></chat-display>
        </div>
    </div>


    <div ng-show="shouldShowHand()" class="hand">
        <div class="hand-content">
            <h1>{{lang.game.pride}}: {{players.findMe().pride}}</h1>
            <a class="close-x" ng-click="closeHand()">{{lang.game.close}} [x]</a>
            <ul class="card-list row">
                <li ng-repeat="card in hand.cards">
                    <card-display card="card" size="medium" ng-click="pickCardFromHand(card)" ng-class="{'card-disabled': !canPlayCard(card)}"></card-display>
                </li>
            </ul>
        </div>
    </div>


    <div ng-show="shouldShowFutures()" class="hand">
        <div class="hand-content">
            <h1>{{lang.game.futures}}</h1>
            <a class="close-x" ng-click="closeHand()">{{lang.game.close}} [x]</a>
            <ul class="future-list clearfix">
                <li ng-repeat="future in hand.futures track by $index">
                    <future-display ng-click="pickFutureFromHand(future)" class="cursor-pointer" future="{{future}}"></future-display>
                </li>
            </ul>
        </div>
    </div>

</div>