<div id="game-summary">

    <ul class="side-panel row">
        <li ng-repeat="user in summ.users | meFirst" class="panel-segment col-md-6">

            <h1 class="inverse"><username size="large" user="user"></username></h1>
            <div>exp:
                <b>{{rankCalc.expRemainder(user.fame) | number:0}} / {{rankCalc.expNeeded(rankCalc.expToRank(user.fame)) | number}}</b>
                <span class="text-success">(+{{user.fame-user.oldFame | number:0}})</span>
            </div>
            <div>fame:
                <b>{{rankCalc.expToRank(user.fame)}}</b>
                <span class="text-success">(+{{rankCalc.expToRank(user.fame) - rankCalc.expToRank(user.oldFame) | number}})</span>
            </div>
            <div>fractures:
                <b>{{user.fractures}}</b>
                <span class="text-success">(+{{user.fractures - user.oldFractures | number}})</span>
            </div>

            <h3>Deck: {{user.deck.name}}</h3>
            <ul class="deck-list clearfix">
                <li ng-repeat="card in user.deck.cards">
                    <card-magnify card="card" size="small" magnify="large"></card-magnify>
                </li>
            </ul>

            <deck-analyzer deck="user.deck"></deck-analyzer>
        </li>
    </ul>

</div>