<div id="guild-list">

    <div class="col-sm-7">
        <paginated resource="GuildResource" results="guilds" query="query">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="guild in guilds">
                    #{{($index + 1) + ((query.page - 1) * query.count)}} <span class="pull-right">{{guild.gpWeek}} {{lang.guild.gpWeek}}</span><a ng-click="selectGuild(guild._id)"><banner guild="guild"></banner></a>
                </li>
            </ul>
        </paginated>
    </div>
    
    <div class="col-sm-5 side-panel">
        <h1>Perks</h1>
        <ul>
            <li>* {{lang.guildList.perk1}}</li>
            <li>* {{lang.guildList.perk2}}</li>
            <li>* {{lang.guildList.perk3}}</li>
        </ul>
        <a ng-if="!me.user.guild" ng-href="/guild-joiner"><button class="btn btn-primary">{{lang.guildList.join}}</button></a>
        <button ng-if="!me.user.guild" class="btn btn-primary" ng-click="makeNewGuild()">{{lang.guildList.create}}</button>
        <button ng-if="me.user.guild" class="btn btn-primary" ng-click="selectGuild(me.user.guild)">{{lang.guildList.myGuild}}</button>
    </div>

</div>