<div id="loadup-deck">

    <div class="deck-selector">
        <h1 class="inverse">{{lang.loadup.selectDeck}} <br>{{lang.loadup.maxDeckSize}}: {{rules.deckSize}} {{lang.deck.cards}}</h1>
        <ul class="deck-list">
            <li ng-repeat="deck in decks | orderBy:'cards.length':true">
                <deck-display ng-click="select(deck)" size="medium" active="{{deck.cards.length <= rules.deckSize ? 'active' : 'inactive'}}"></deck-display>
            </li>
        </ul>
    </div>

</div>
