<div id="loadup-futures">
    <h1 ng-if="futureCount > 1" class="inverse">{{lang.loadup.select}} {{futureCount}} {{lang.loadup.futures}}</h1>
    <h1 ng-if="futureCount == 1" class="inverse">{{lang.loadup.selectFutureSingular}}</h1>

    <ul ng-if="futureCount > 1" class="future-list selected-future-list clearfix">
        <li ng-repeat="futureObj in selected">
            <future-display future="{{futureObj.future}}"></future-display>
        </li>
    </ul>

    <ul class="future-list clearfix">
        <li ng-repeat="future in futures" ng-class="{inactive: !iHaveFuture(future)}">
            <future-display ng-click="selectFuture(future)" future="{{future}}"></future-display>
        </li>
    </ul>

</div>