<div id="conversations" class="row">

    <div id="conversation-list" class="col-sm-5 side-panel">
        <ul>
            <li class="panel-segment" ng-repeat="convo in convos" ng-click="selectConvo(convo)">
                <ul>
                    <li ng-repeat="message in convo">
                        <username user="message.toUser" link="false" ng-if="message.fromUser._id == me.user._id"></username>
                        <username user="message.fromUser" link="false" ng-if="message.toUser._id == me.user._id"></username>
                        <div>{{message.body}} <span class="subtle">{{message.date | date}}</span></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>



    <div id="conversation" class="col-sm-7">

        <convo messages="selectedConvo"></convo>

        <div ng-if="selectedConvo.length" class="convo-options inverse">
            <a class="inverse" ng-click="reportConversation(selectedConvo)">{{lang.messages.report}}</a> |
            <a class="inverse" ng-click="deleteConversation(selectedConvo)">{{lang.messages.delete}}</a>
        </div>

        <form ng-hide="selectedConvo" submit="sendMessage()">
            <div class="input-group">
                <input class="form-control" type="text" ng-model="typedMessage" maxlength="200">
                <span class="input-group-btn">
                    <button class='btn btn-default' type="submit" ng-click="sendMessage()">send</button>
                </span>
            </div>
        </form>

    </div>

</div>