<div id="title-screen">
    <div id="title-screen-center" class="absolute-center inverse">
        
        <h1 id="title-logo" fader-waver>
            <span>F</span><span>U</span><span>T</span><span>U</span><span>R</span><span>I</span><span>S</span><span>M</span>
        </h1>
        
        <ul id="title-buttons" ng-if="!me.userId">
            <li ng-if="websites.forceSite === null || websites.forceSite === websites.FACEBOOK">
                <button class="btn btn-primary" ng-click="facebookLogin()">Facebook Login</button>
            </li>
            <li ng-if="websites.forceSite === null || websites.forceSite === websites.JIGGMIN">
                <button class="btn btn-primary" ng-click="jiggminLogin()">Jiggmin.com Login</button>
            </li>
            <li>
                <button class="btn btn-default" ng-click="guestLogin()">Log In as a Guest</button>
            </li>
        </ul>
        
        <ul id="title-buttons" ng-if="me.userId">
            <li>
                Logged in as <br><username user="me.user" size="large"></username><br>
                <a ng-href="/lobby"><button class="btn btn-primary">Play</button></a>
            </li>
            <li>
                <button class="btn btn-default" ng-click="logout()">Log Out</button>
            </li>
        </ul>
    </div>
</div>