.username {

}

.username .site-icon {
	width: 8px;
	height: 8px;
}

.username .avatar {
  width: 16px;
  height: 16px;
  background-color: black;
  position: relative;
  top: -4px;
}

.username .name {
  margin-left: 5px;
}

