#card-settings form {
	max-width: 300px;
}

#card-settings .form-group {
	margin-bottom: 25px;
}

#card-settings .form-control {
	margin-bottom: 5px;
}

#card-preview-holder .card {
	margin: auto;
	cursor: auto;
}

#faction-checkboxes p, .faction-desc {
	font-style: italic;
	color: #8f8f8f;
}