#card-settings form {
	max-width: 300px;
}

#card-settings .form-group {
	margin-bottom: 25px;
}

#card-settings .form-control {
	margin-bottom: 5px;
}

#card-preview-holder .card {
	margin: auto;
}

#faction-checkboxes p, .faction-desc {
	font-style: italic;
	color: #8f8f8f;
}

/*#card-preview-holder .affix-top {

}

#card-preview-holder .affix {
	position: fixed;
	top: 100px;
	margin: auto;
}

#card-preview-holder .affix-bottom {
	position: absolute;
}*/