.future-display {
	position: relative;
	width: 100%;
	height: 120px;
}

.future-display.inactive {
	 opacity: 0.5;
}

.future-display-img {
	width: 100%;
	height: 80px;
	background-color: grey;
}

.future-arrow {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 80px;
 }

.future-display h3 {
	position: absolute;
	top: 53px;
	left: 0px;
	color: $light-contrast;
	width: 100%;
	height: 27px;
	margin: 0;
	padding-left: 15px;
	padding-right: 0px;
	background-color: rgba(0, 0, 0, 0.8);
	text-shadow: 2px 2px #000000;
}

.future-display .description {
	padding: 5px;
	height: 45px;
}

.future-outline {
	border: 1px solid grey;
	width: 100%;
	height: 80px;
}



.future-display-capt h3 {
	color: #ffffae;
}

.future-display-norm h3 {
	color: #f0faff;
}

.future-display-free h3 {
	color: #88eeff;
}

.future-display-thdr h3 {
	color: #ff2300;
}

.future-display-zvir h3 {
	color: #e2ff51;
}

.future-display-assm h3 {
	color: #abdaff;
}

.future-display-eden h3 {
	color: #ffb76f;
}

.future-display-ares h3 {
	color: #c3b3ff;
}