.future-display {
	position: relative;
	width: 230px;
}

.future-display.inactive {
	 opacity: 0.5;
}

.future-display-img {
	width: 200px;
	height: 80px;
	background-color: grey;
}

.future-arrow {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 80px;
 }

.future-display h3 {
	position: absolute;
	top: 53px;
	left: 0px;
	color: $light-contrast;
	width: 200px;
	height: 27px;
	margin: 0;
	padding-left: 15px;
	padding-right: 0px;
	background-color: rgba(0, 0, 0, 0.8);
}

.future-display .future-quantity {
	position: absolute;
	left: 205px;
	top: 0px;
	font-size: 18px;
	font-weight: bold;
}

.future-display .description {
	padding: 5px;
	width: 200px;
	height: 45px;
}

.future-display-capt h3 {
	color: #ffdd83;
}