$outline: rgba(82, 79, 73, .75);

.board-area {
	//background-color: lightgrey;
	margin: 0px auto 40px auto;
	width: 360px;
}

.player-field-column {
	//background-color: grey;
	float: left;
}

.target {
	//background-color: darkgrey;
	width: 65px;
	height: 93px;
	margin: 0px 12px 12px 12px;
	border: 1px solid $outline;
}