@import 'base';

$outline: rgba(82, 79, 73, .75);

.board-area {
	//background-color: lightgrey;
	margin: 0px auto 20px auto;
	width: 360px;
}

.board-area .card-small {
	margin: -1px;
}

.player-field-column {
	//background-color: grey;
	float: left;
}

.target {
	//background-color: darkgrey;
	width: 65px;
	height: 93px;
	margin: 0px 12px 12px 12px;
	border: 1px solid $outline;
}

.target-selector {
	background-color: rgba(255, 255, 255, .25);
	cursor: pointer;
	width: 65px;
	height: 93px;
}

.players .desc {
	color: grey;
	font-size: 12px;
	position: relative;
	top: -5px;
}

#hand {
	position: fixed;
	top: 200px; left: 0;
	background-color: darken($navbar-inverse-bg, 5);
	width: 100%;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	padding: 0 30px 0 30px;
	@include box-shadow(2px, 2px, 7px, rgba(0,0,0,.8));
}

#hand .close-x {
	position: absolute;
	right: 10px;
	top: 7px;
	cursor: pointer;
	color: lightgrey;
}

#hand .card {
	cursor: pointer;
}

#hand-content {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	max-width: 750px;
}

#hand-content > h1 {
	color: $light-contrast;
}

.hand-cards li {
	float: left;
}

