@import "base";
@import "card";
@import "card-builder";
@import "card-selector";
@import "chat";
@import "credits";
@import "deck";
@import "deck-selector";
@import "futures";
@import "game";
@import "lobby";
@import "navbar";
@import "title";
@import "username";
@import "you-panel";

html, body {
  margin: 20px;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-image: url("/images/futurism-bg-1920x1080.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  background-attachment: fixed;
  background-position: center;
  margin: 0 0 0 0;
  padding: 50px 0 0 0;
  color: $dark-blend;
}

h1 {
  font-family: "aw-conqueror-carved";
  color: $light-blend;
	margin: 15px 0px 10px -5px;
}

h3 {
	font-family: "aw-conqueror-carved";
	color: $dark-blend;
}

h1.inverse, .inverse h1 {
  color: $light-contrast;
}

h3.inverse, .inverse h3 {
	color: white;
}

.panel {
  padding: 0px;
}

.panel h1 {
  margin-top: 0px;
}

.panel-segment {
  padding: 15px;
	padding-left: 20px;
}

.panel-segment:nth-child(even) {
	background-color: white;
}

.inverse {
	color: white;
}

ul {
  list-style: none;
  padding: 0;
}

.username {
  cursor: pointer;
}

.nav, .pagination, .carousel a { cursor: pointer; }

.logging-in {
  background-color: white;
  position: absolute;
  right: 0;
  top: 0;
  color: darkgray;
  margin: 20px;
  padding: 20px;
  font-size: 24px;
  z-index: 9999;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.panel-default {
  background-color: rgba(255, 255, 255, 0.9);
  @include box-shadow(2px, 2px, 7px, rgba(0, 0, 0, 0.7));
}

.subtle {
	font-size: 10px;
	color: grey;
}







.modal {
	display: block;
	height: 0;
	overflow: visible;
}

.modal-body:before,
.modal-body:after {
	display: table;
	content: " ";
}

.modal-header:before,
.modal-header:after {
	display: table;
	content: " ";
}


