@import 'base';

#title-screen {
  height: 300px;
}

#title-logo {
  font-size: 100px;
  @include transform(skew(-30deg,0deg));
  color: $light-contrast;
  width: 550px;
  text-align: center;
  margin: 10px auto;
}

#title-buttons {
  font-family: "aw-conqueror-carved";
  font-size: 30px;
  text-align: center;
}

#title-buttons a {
  text-decoration: none;
  color: $dark-contrast;
  position: relative;
  left: -10px;
	cursor: pointer;
}

#title-buttons a:hover {
	color: darken($dark-contrast, 20);
}